/* 	Reset Styling
----------------------------------------------------------------------*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, img {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

/* Scroll Bar
----------------------------------------------------------------------*/
::-webkit-scrollbar {
background-color: rgba(120,120,120,0.2);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
}

* {
    -webkit-transition: color ease 0.2s;
    font-family: 'Varela Round','Istok Web', sans-serif;
}

body {
-webkit-font-smoothing: antialiased;  //smooths out font jaggedness
-webkit-overflow-scrolling: touch;  //adds ios momentum scrolling
}

#blender_proj {
    min-width: 1417px;
}

/* Background Image
----------------------------------------------------------------------*/
.background_image {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

/* Page Container
------------------------------------------------------------*/
#pageContainer {
position: fixed;
height: 100%;
width: 100%;
top: 0%;
left: 0%;
overflow: auto;
margin-top: 10em;
}

/*  Navbar
----------------------------------------------------------------------*/
#blender_proj #horiz-nav-bar {
    min-width: 1417px;
}
#horiz-nav-bar {
    width: 100%;
    height: 4em;
    background: rgba(24,150,146, 0.8);
    color: white;
    position: absolute;
    top: 0;
}
#horiz-nav-bar ul {
    margin-left: 40px;
    position: absolute;
    bottom: 0;
}
#horiz-nav-bar li {
    display: inline-block;
    margin: 5px;
    margin-bottom: 10px;
}
#horiz-nav-bar a {
    color: white;
    padding: 10px;
}
#horiz-nav-bar a:hover {
    color: yellow;
}

/* Buttons
--------------------------------------------*/
.button_container {
    display: inline-block;
    width: 200px;
}
#blender_proj .button_container {
    float: right;
    margin-top: 9em;
    margin-right: 2em;
    width: 170px;
    background-color: rgba(0, 47, 131, 0.7);
    height: 250px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #000;
    -moz-box-shadow: 2px 4px 5px #000;
    -webkit-box-shadow: 2px 4px 5px #000;
}
#blender_proj .button_container#sliders {
    float: left;
    margin-right: 0;
    margin-left: 2em;
    height: 600px;
}
#blender_proj .button_container button:hover {
    background-color: white;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#blender_proj .button_container button {
    margin: 10px 7%;
    width: 145px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 255, 132);
    border: 2px outset rgb(146, 146, 50);
    cursor: pointer;
    box-shadow: 0px 1px 5px #000;
    -moz-box-shadow: 0px 1px 5px #000;
    -webkit-box-shadow: 0px 1px 5px #000;
}
#blender_proj .button_container h3:first-child {
    margin-top: 10px;
}
#blender_proj .button_container h3 {
    margin: 20px 0 0 7%;
    text-decoration: underline;
    color: white;
}
#blender_proj .button_container h4 {
    margin: 10px 7%;
    color: white;
}
#blender_proj .button_container input {
    margin: 0 7%;
}
.button_container input[type='range'] {
    -webkit-appearance: none !important;
    background: #FFFF84;
    height: 6px;
    border-radius: 5px;
    box-shadow: 2px 1px 5px #000;
    -moz-box-shadow: 2px 1px 5px #000;
    -webkit-box-shadow: 2px 1px 5px #000;
}
.button_container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #00F5FF;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px #000;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
}

/* Canvas'
----------------------------------------------*/
#blender_proj canvas {
    margin: 9em 0 4em 1%;
    min-width: 991;
    max-width: 70%;
}
#pageContainer > div {
    width: 500px;
    border: solid 1px black;
    padding: 10px;   
    margin: auto;
}
#rotating_sq_section {
    background-color: #3283A3;
}
#first-webGL {
    background-color: #0D883E;
}
